@page
@model Blackjack.Web.Pages.IndexModel
@{
    ViewData["Title"] = "Blackjack";
}

<h1>Blackjack</h1>

<form method="post">
    <button type="submit" asp-page-handler="Start">Start Game</button>
</form>

@if (!string.IsNullOrWhiteSpace(Model.Message))
{
    <p><strong>@Model.Message</strong></p>
    <p>Player Score: @Model.PlayerScore</p>
    <h3>Bank: $@Model.Bank</h3>

    <form method="post">
        <label for="bet">Bet:</label>
        <input id="bet" name="Bet" type="number" step="0.01" min="0.01" />
        <button type="submit" asp-page-handler="Start">Deal</button>
    </form>

    <div class="stack">
        <div>
            <h3>Player</h3>
            <p><strong>@Model.PlayerCardScore</strong></p>
            @if (@Model.PlayerCardScore < 21){
                
                <form method="post">
                    <button type="submit" asp-page-handler="PlayerHit">Hit</button>
                    <button type="submit" asp-page-handler="PlayerStand">Stand</button>
                    <!-- Display the Double Down btn if true -->
                    @if(@Model.PlayerHandDouble){
                        <button type="submit" asp-page-handler="PlayerDouble">Double Down</button>
                    }

                    @if(@Model.PlayerHandSplittable){
                        <button type="submit" asp-page-handler="PlayerSplit">Split</button>
                    }

                </form>
            }
            else if(@Model.PlayerCardScore == 21){
                <p>Blackjack!</p>  
            }
            else{
                <p>Bust!</p>
                <form method="post">
                    <button type="submit" asp-page-handler="Start">Play again</button>
                </form>
            }

            <div class="hand">
                @foreach (var c in @Model.CurrentPlayerCards) { 
                    <playing-card rank="@c.Rank" suit="@c.Suit"></playing-card>
                }

                @if (Model.CurrentPlayerCardsB.Count > 0)
                {
                <div class="hand">
                    @foreach (var c in Model.CurrentPlayerCardsB)
                    {
                    <playing-card rank="@c.Rank" suit="@c.Suit"></playing-card>
                    }
                </div>
                }

            </div>
            
        </div>
        <div>
            <h3>Dealer</h3>
            <!--The dealer's hole card isn't known yet, display the unknown value -->
            @if(@Model.DealerCardScoreKnown == 0){
                <p>@Model.DealerCardScoreUnknown</p>
            }
            else{
                <p>@Model.DealerCardScoreKnown</p>
            }

            <textarea readonly style="width:100%;height:100px;">@Model.DealerHandText</textarea>
        </div>
    </div>
}